body  {
  background-color: white;
  font-family: 'Gruppo';
  padding-left: 2.5%;
  padding-right: 2.5%;
}

p {
  position: sticky;
  text-align: left;
  font-size: 20px;
}

h1 {
  position: sticky;
  width: 90%;
  height: 100%;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: rgb(255,255,255);
}

li a:hover {
  background-color: rgb(0,180,0);
}

.projectLink a {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.intext a:visited {
  color: rgb(6, 69, 173);
}
