body  {
  background-color: white;
  font-family: 'Gruppo';
  padding-left: 2.5%;
  padding-right: 2.5%;
  color: rgb(33, 62, 16);
}

p {
  position: sticky;
  text-align: left;
  font-size: 20px;
}

h1 {
  position: sticky;
  width: 90%;
  height: 100%;
  text-align: left;
}

.intext a:visited {
  color: rgb(6, 69, 173);
}
