body {
  background-color: black;
  color: white;
}

#NameTitle {
  font-size: 40px;
}

.consoleStyle {
  color: #006400;
  font-family: monospace;
  text-align: center;
}

.central {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  padding: 10px;
}

iframe {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}