.hamburger-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.hamburger-menu .bar {
  height: 3px;
  background: darkgreen;
  border-radius: 5px;
  margin: 3px 0px;
  transform-origin: left;
  transition: all 0.5s;
}

.hamburger-menu .top {
  width: 2rem;
}

.hamburger-menu .middle {
  width: 1rem;
}

.hamburger-menu .bottom {
  width: 1.25rem;
}

.hamburger-menu:hover .top {
  transform: translateX(1.2rem) rotate(45deg);
  border-radius: 0px;
  width: 1.1rem;
}

.hamburger-menu:hover .middle {
  width: 2rem;
}

.hamburger-menu:hover .bottom {
  transform: translateX(1.2rem) rotate(-45deg);
  border-radius: 0px;
  width: 1.1rem;
}